.form_wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.signin_back {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.submit_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;

  button {
    padding: 10px;
    width: 100%;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}