.header {
    width: 100%;
    box-shadow: $shadow-1;
}

// Ad ------------
.ad {
    width: 100%;
    height: 40px;
    background-image: url('/images/ad.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

// Nav ------------
.nav {
    border-bottom: 1px solid #eee;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        position: relative;
    }

    @media only screen and (max-width: 670px) {

        &__container {
            padding: 15px 10px;
        }
    }


    &__left {
        display: flex;
        align-items: center;
        font-size: 18px;
        letter-spacing: 3px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__link,
    .account_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #666;
        position: relative;
        cursor: pointer;
        transition: all .2s ease-in-out;

        svg {
            width: 25px;
            height: 25px;
            fill: #bbb;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -12.5px;
            width: 2px;
            height: 100%;
            background-color: #ccc;
            transform: translateY(-50%);
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }

        &:hover {
            color: $color-primary;

            svg {
                fill: $color-primary;
            }
        }

        @media only screen and (max-width: 1024px) {

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                display: none;
            }
        }

        @media only screen and (max-width: 670px) {

            &:nth-of-type(1),
            &:nth-of-type(5) {
                display: none;
            }
        }
    }

    .account_btn {
        background: transparent;
    }

    // User Menu
    .user_menu {
        position: absolute;
        top: 100%;
        right: 20px;
        background-color: #eee;
        width: 320px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow-1;

        .user_info {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;


            &__img {
                object-fit: contain;
            }

            &__details {
                cursor: pointer;

                .h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #333;
                }

                .p {
                    font-size: 14px;
                    color: #666;
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            // gap: 10px;
            margin-top: 10px;
            padding: 10px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            .list_item {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 7px;
                border-radius: 4px;
                cursor: pointer;
                background-color: transparent;
                transition: all .2s ease-in-out;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #bbb;
                }

                &:hover {
                    color: $color-primary;
                    background-color: #cccccc85;

                    svg {
                        fill: $color-primary;
                    }
                }
            }
        }

    }
}